.navigation__wrap {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #2d3035;
  z-index: 999;
}

.navigation__box {
  margin: 40px 40px;
}
