.header__wrap {
    background-color: #141517;
}

.header__box {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    line-height: 80px;
}

.logo__wrap {
    display: inline-flex;
}

.logo--main_selog {
    width: 50px;
    height: auto;
    padding: 15px 0;
}