.header__wrap {
    background-color: #141517;
}

.header__box {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    line-height: 80px;
}

.logo__wrap {
    display: inline-flex;

    .logo--main_selog {
        width: 50px;
        height: auto;
        padding: 15px 0;
        color: white;
        text-decoration: none;
        font-size: 40px;
        font-family: 'Roboto Mono', monospace;
    }
}