.App-Menu {
    margin: 0px;
    padding: 0px;
}

.menu-container {
    background-color: black;
    display: flex;
    justify-content: center;
}

.menu-ul {
    display: flex;
    margin: 0;
    list-style: none;
    position: relative;
    padding: 20px;
}

.menu-list {
    padding-top: 20px;
    float: left;
    padding-top: 10px;
    padding-bottom: 7px;
    border-bottom: 3px solid transparent;
}

.menu-list-item {
    color: white;
    flex: 1;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
}

.active {
    color: white;
    flex: 1;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.menu-container>ul>li>.menu-list-item {
    border-right: 2px solid white;
    display: block;
    padding-left: 25px;
    padding-right: 25px;
}

.menu-container>ul>li:last-child>a {
    border-right: 0;
}