.App-Menu {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 70px;
}

.Menu-container {
    height: 100%;
    width: 100%;
    background-color: #D8D8D8;
    display: flex;
}

.menu-item {
    color: white;
    flex: 1;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    text-decoration: none;
}

.active {
    color: white;
    flex: 1;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}