.title__wrap--main {
    position: relative;
    width: 100%;
    height: 660px;

    .title__box{
        position: absolute;
        display: inline-block;
        text-align: center;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: -webkit-translate(-50%, -50%);
        transform: -moz-translate(-50%, -50%);
        transform: -ms-translate(-50%, -50%);
        transform: -o-translate(-50%, -50%);

        .title--top{
            font-size: 80px; 
            font-weight: 700;
            color: #fff;
            margin: 0 0 20px 0;
        }

        .title--bottom {
            font-size: 25px;
            color: #fff;
            line-height: 1.5;
        }
    }
}