.list__wrap--main {
  max-width: 1100px;
  margin: 0 auto;
}

.list__wrap--main .list__box {
  column-width: 300px;
  -moz-column-width: 300px;
  -webkit-column-width: 300px;
  -ms-column-width: 300px;
  -o-column-width: 300px;
  column-gap: 20px;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  -ms-column-gap: 20px;
  -o-column-gap: 20px;
  padding: 0 20px;
}

.list__wrap--main .list__item {
  border: none;
  display: inline-block;
  width: 100%;
  background-color: #2D3035;
  color: #8b8b8b;
  margin: 0 0 20px 0;
  border-radius: 4px;
  overflow: hidden;
  transition: box-shadow .25s ease;
  -webkit-transition: box-shadow .25s ease;
  -moz-transition: box-shadow .25s ease;
  -o-transition: box-shadow .25s ease;
}

.list__wrap--main .list__item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
  transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}

.list__wrap--main .list__img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 280px;
}

.list__wrap--main .img--thumbnail {
  position: absolute;
  height: 100%;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  transform: -o-translate(-50%, -50%);
}

.list__wrap--main .list__txt {
  padding: 20px;
}

.list__wrap--main .list__txt--top {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #8b8b8b;
}

.list__wrap--main .list__txt--top .category {
  font-size: 14px;
  color: #F0295A;
  margin: 0 0 10px;
}

.list__wrap--main .list__txt--top .title {
  font-size: 25px;
  color: #fff;
}

.list__wrap--main .list__txt--bottom .description {
  margin: 0 0 20px 0;
}

.list__wrap--main .list__txt--bottom .status {
  font-size: 18px;
  color: #c1c1c1;
  display: flex;
  justify-content: space-between;
}

.list__wrap--main .list__txt--bottom .status .date,
.list__wrap--main .list__txt--bottom .status .comment {
  display: inline-flex;
}